@charset "UTF-8";
/* CSS Document */

body {background-repeat:no-repeat;margin:0;font-family:Verdana, Arial, Helvetica, sans-serif;}

h3 {font-size:14px; margin:0;color:#333333;}
h4 {font-size:12px; margin:0;color:#333333;font-weight:400;}
p {font-size:12px; margin:0;margin-top:5px;color:#333333;}

a {text-decoration:underline;color:inherit;}
a:visited {text-decoration:underline;color:inherit;}
a:active {text-decoration:underline;color:inherit;}
a:hover {text-decoration:underline;color:inherit;}