body {
  font-family: 'Lucida Grande', sans-serif;
}
#content {
  max-width: 980px;
  margin: 0 auto;
}
h2 {
  margin-top: 1.5em;
}
p, li {
  line-height: 1.5em;
}

/* index */
#headshot {
  float: right;
  border: 1px solid #ddd;
  margin: 0 0 1em 1em;
  width: 150px;
}

/* Illustrator Star */
ins {
  text-decoration: none;
}
.post-update {
  border: 1px solid yellow;
  background: lightyellow;
  padding: 0.5em;
  display: block;
}
.osx-window {
     -moz-box-shadow: 0 7px 8px #a8a8a8;
  -webkit-box-shadow: 0 7px 8px #a8a8a8;
          box-shadow: 0 7px 8px #a8a8a8;
}
.osx-window img {
  display: block;
}
.osx-window canvas,
.canvas-backup {
  margin: 15px;
}
.pudgy-star, .normal-star {
  display: inline-block;
  margin-right: 1em;
}
.radii-star {
  margin-right: 1em;
}
