<!DOCTYPE html>

<html>

  <head>
    <title>{{ page.title }}</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width; initial-scale=0.75">
  </head>
  
  <body>
    
    <div id="content">
      {{ content }}
    </div>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-3140088-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    
  </body>
  
</html>